/* ******COMMONS****** */
:root {
    --bg_theme: linear-gradient(0deg, rgba(217,219,212,1) 85%, rgba(0,150,136,1) 85%);
    --col_1: #ffffff; /*colonna di destra*/
    --col_2: #eaeaea; /*colonna di sinistra*/
    --icon_color: #b1b1b1; /*font icons*/
    --col_3: #8edafc; /*riga notifiche*/
    --col_4: #fafafa; /*background input*/
    --col_5: #b6b9bb; /*icon input*/
    --selected: #e9ebeb; /*bgc row selected*/
    --grey: #808080;
    --bg_col_unselected: #f8f9fb; /*bgc col di sx al caricamento*/
    --title: #747474; /*bgc title col di sx al caricamento*/
    --sub_foot: #9b9c9d; /*bgc subtitle and text col di sx al caricamento*/
    --msg_sent: #d5f9ba; /*bgc message sent*/
    --msg_recevied: #ffffff;
    --set_hover: #f1f1f1; /*bgc hover setting message*/
    --bgc_input_msg: #f3eeea; /*bgc input message*/
    --icon_input_msg: #6b7376; /*bgc icons input message*/
    --font_color: #000000;
    --border: #f2f2f2;
    --subtitle_border: #e5e6e6;
    --border_left_selected: #e0e0e0;
    --shadow_container: #CECECE;
    --font_last_msg: #222;
    --bgc_input_text: #ffffff; 
    --color_input_text: #747474;
    --bgc_setting_msg: #ffffff;
    --invert_img: url('../img/mine.jpg');
    --shadow_setting: #CCCCCC;
}

:root.dark_theme {
    --bg_theme: linear-gradient(0deg, #090e11 85%, #090e11 85%);
    --col_1: #131c21; /*colonna di destra*/
    --col_2: #2a2f32; /*colonna di sinistra*/
    --icon_color: #b1b3b5; /*font icons*/
    --col_3: #085373; /*riga notifiche*/
    --col_4: #131c21; /*background input*/
    --col_5: #131c21; /*icon input*/
    --selected: #323739; /*bgc row selected*/
    --grey: #9fa2a5;
    --bg_col_unselected: #262d31; /*bgc col di sx al caricamento*/
    --title: #d8d9db; /*bgc title col di sx al caricamento*/
    --sub_foot: #96999b; /*bgc subtitle and text col di sx al caricamento*/
    --msg_sent: #056162; /*bgc message sent*/
    --msg_recevied: #262d31;
    --set_hover: #1c1f20; /*bgc hover setting message*/
    --bgc_input_msg: #1e2428; /*bgc input message*/
    --icon_input_msg: #828689; /*bgc icons input message*/
    --font_color: #dfe0e1;
    --border: #131c21;
    --subtitle_border: #3d4347;
    --border_left_selected: #3c4346;
    --shadow_container: #090e11;
    --font_last_msg : #cbcccd;
    --bgc_input_text: #323739;
    --color_input_text: #848788;
    --bgc_setting_msg: #2a2f32;
    --invert_img: url('../img/mine_invert.jpg');
    --shadow_setting: #2a2f32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    color: var(--font_color);
    background: var(--bg_theme);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    box-shadow: 0px 0px 1px 1px var(--shadow_container);
}

.clearfix::after {
    content: ' ';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    width: 50px;
    border-radius: 100%;
    margin-right: 5px;
}

input:focus-visible {
    outline-color: lightgrey;
    outline-style: ridge;
}

.selected {
    background-color: var(--selected);
}

/******** sezione colonna di sinistra */

.col_sx {
    width: 35%;
    height: 95vh;
    background-color: var(--col_1);
}

/* <!-- sezione utente user con foto profilo, nome e bottoni utili --> */
.user, .contact_selected {
    height: 60px;
    background: var(--col_2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.user_buttons i {
    color: var(--icon_color);
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

/* sezione bottone attivazione notifiche */
.notifiche {
    background-color: var(--col_3);
    display: flex;
    align-items: center;
    padding: 10px;
}

.notifiche i {
    color: var(--col_3);
    font-size: 20px;
    background-color: var(--col_1);
    border-radius: 100%;
    margin-right: 10px;
    padding: 15px;
    cursor: pointer;
}

.btn_text {
    color: #6090a6;
    text-decoration: underline;
    cursor: pointer;
}

.btn_text:hover {
    text-decoration: none;
}

/* sezione input di ricerca tra i contatti */
.input_src {
    background-color: var(--col_4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 0;
}

.input_src input {
    width: 95%;
    color: var(--color_input_text);
    background-color: var(--bgc_input_text);
    border: none;
    padding: 10px 80px;
}



.input_src i {
    color: var(--col_5);
    position: absolute;
    left: 40px;
}

/* sezione contatti */
.contacts {
    height: calc(95vh - 180px);
    overflow: auto;
}

ul.contacts li {
    list-style: none;
    padding: 10px;
    border-top: 1px solid var(--border);
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul.contacts li:hover {
    background-color: var(--selected);
}

/* info contatto */
.text_contact {
    width: 100%;
    margin-left: 15px;
}

.last_msg_date {
    font-size: 12px;
    color: var(--grey);
}

.text_contact i,
.date_message i{
    font-size: 12px;
    color: #4fc3f7;
    margin: 0 2px;
}
 
.last_contact_msg {
    font-size: 14px;
    color: var(--grey);
    margin-top: 5px;
}

.last_contact_msg.black {
    font-weight: 100;
    color: var(--font_last_msg);
}


/******** sezione colonna di destra */

.col_dx {
    width: 65%;
    height: 95vh;
}

/* conteiner contenente immagine e testo su come collegare whatsapp. Finestra visibile al caricamento della pagina */
.container_contact_unselected {
    height: 100%;
    background-color: var(--bg_col_unselected);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_contact_unselected img {
    width: 300px;
}

.title {
    font-size: 32px;
    color: var(--title);
    margin: 20px 0;
}

.subtitle{
    width: 70%;
    text-align: center;
    color: var(--sub_foot);
    border-bottom: 1px solid var(--subtitle_border);
    padding-bottom: 40px;
}

.footer {
    color: var(--sub_foot);
    margin-top: 20px;
    padding-top: 20px;
}

.footer i {
    font-size: 13px;
    margin-right: 5px;
}

.footer a {
    color: #0aa545;
    font-size: 15px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* container contenente la messagistica con l'utente selezionato */
.container_contact_selected {
    height: 100%;
}

/* sezione contatto selezionato */
.contact_selected {
    border-left: 1px solid var(--border_left_selected);
}

/* .user, .contact_selected {
    height: 60px;
    background: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
} */

.contact_selected .text {
    margin-left: 10px;
}

.text .last_message {
    color: var(--grey);
}

/* finestra di dialogo con il contatto selezionato */
.content_message {
    height: calc(100% - 120px);
    background-image: var(--invert_img);
    padding: 40px 80px;
    overflow: auto;
}

.messages {
    list-style: none;
}

.messages .message {
    max-width: 45%;
    padding: 20px 10px 0 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    position: relative;
}

.message.received {
    background-color: var(--msg_recevied);
    float: left;
}

.message.sent {
    background-color: var(--msg_sent);
    float: right;
}

.message_text {
    margin-right: 50px; 
    overflow-wrap: break-word;
}

/* blocco css per le impostazioni del messaggio */
.settings_msg {
    color: var(--grey);
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.settings_msg.d_block {
    display: block;
}

.message:hover .settings_msg {
    display: block;
}

.settings_msg.received {
    background-color: var(--msg_recevied);
    box-shadow: 0px 0px 15px 10px var(--msg_recevied);
}

.settings_msg.sent {
    background-color: var(--msg_sent);
    box-shadow: 0px 0px 15px 10px var(--msg_sent);
}

.settings {
    width: 200px;
    background-color: var(--bgc_setting_msg);
    position: absolute;
    padding: 10px 0;
    box-shadow: 0px 0px 10px 0px var(--shadow_setting);
    z-index: 2;
}

.settings.sent {
    right: 0px;
}

.settings .set {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}

.set:hover {
    background-color: var(--set_hover);
}

.date_message {
    color: var(--grey);
    font-size: 10px;
    text-align: right;
    position: relative;
    bottom: 5px;
}


/* sezione input messaggio dell'utente user */
.input_message {
    height: 60px;
    background-color: var(--bgc_input_msg);
    display: flex;
    align-items: center;
}

.input_message input {
    width: 100%;
    color: var(--color_input_text);
    background-color: var(--bgc_input_text);
    border: none;
    padding: 10px;
}

.input_message i {
    font-size: 20px;
    color: var(--icon_input_msg);
    margin: 0 30px;
    cursor: pointer;
}
