/* ******COMMONS****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(0deg, rgba(217,219,212,1) 85%, rgba(0,150,136,1) 85%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
}

.clearfix::after {
    content: ' ';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    width: 50px;
    border-radius: 100%;
    margin-right: 5px;
}

.selected {
    background-color: #e9ebeb;
}

/******** sezione colonna di sinistra */

.col_sx {
    width: 35%;
    height: 95vh;
    background-color: #ffffff;
}

/* <!-- sezione utente user con foto profilo, nome e bottoni utili --> */
.user, .contact_selected {
    height: 60px;
    background: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.user_buttons i {
    color: #b1b1b1;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

/* sezione bottone attivazione notifiche */
.notifiche {
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 10px;
}

.notifiche i {
    color: #8edafc;
    font-size: 20px;
    background-color: white;
    border-radius: 100%;
    margin-right: 10px;
    padding: 15px;
    cursor: pointer;
}

.btn_text {
    color: #6090a6;
    text-decoration: underline;
    cursor: pointer;
}

.btn_text:hover {
    text-decoration: none;
}

/* sezione input di ricerca tra i contatti */
.input_src {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 0;
}

.input_src input {
    width: 95%;
    border: none;
    padding: 10px 80px;
}

.input_src input:focus-visible, .input_message input:focus-visible {
    outline-color: lightgrey;
    outline-style: ridge;
}

.input_src i {
    color: #b6b9bb;
    position: absolute;
    left: 40px;
}

/* sezione contatti */
.contacts {
    height: calc(95vh - 180px);
    overflow: auto;
}

ul.contacts li {
    list-style: none;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul.contacts li:hover {
    background-color: #e9ebeb;
}

.text_contact {
    width: 100%;
    margin-left: 15px;
}

.last_msg_date {
    font-size: 12px;
    color: grey;
}
 
.last_contact_msg {
    font-size: 14px;
    color: grey;
    margin-top: 5px;
}

.last_contact_msg.black {
    font-weight: 100;
    color: #222
}


/******** sezione colonna di destra */

.col_dx {
    width: 65%;
    height: 95vh;
}

/* sezione contatto selezionato */
.contact_selected {
    border-left: 1px solid #e0e0e0;
}

/* .user, .contact_selected {
    height: 60px;
    background: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
} */

.contact_selected .text {
    margin-left: 10px;
}

.text .last_message {
    color: grey;
}

/* finestra di dialogo con il contatto selezionato */
.content_message {
    height: calc(100% - 120px);
    background-image: url('../img/mine.jpg');
    padding: 40px 80px;
    overflow: auto;
}

.messages {
    list-style: none;
}

.messages .message {
    width: 45%;
    padding: 20px 10px 0 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.messages .contact_msg {
    background-color: #ffffff;
}

.messages .user_msg {
    background-color: #d5f9ba;
}

.date_message {
    color: grey;
    font-size: 11px;
    text-align: right;
    padding: 5px 0;
}


/* sezione input messaggio dell'utente user */
.input_message {
    height: 60px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}

.input_message input {
    width: 100%;
    border: none;
    padding: 10px;
}

.input_message i {
    font-size: 20px;
    color: #6b7376;
    margin: 0 30px;
    cursor: pointer;
}

/* .input_src input:focus-visible, 
.input_message input:focus-visible {
    outline-color: lightgrey;
    outline-style: ridge;
} */



/* ******DEBUG****** */

/* .debug #root {
    background-color: green;
} */

/* debug colonna di destra */
/* .debug .col_sx {
    background-color: red;
} */

/* .debug .user {
    height: 60px;
    background-color: blue;
} */

/* .debug .notifiche {
    height: 80px;
    background-color: gray;
} */

/* .debug .input_src {
    height: 50px;
    background-color: blue;
} */

/* ul.contacts li {
    height: 80px;
    border: 1px solid black;
} */
/* debug colonna di sinistra */
/* .debug .col_dx {
    background-color: yellow;
} */

/* .debug .contact_selected {
    height: 60px;
    background-color: blue;
    border-left: 1px solid black;
} */

/* .debug .content_message {
    height: calc(100% - 120px);
    background-color: lightgrey;
} */

/* .debug .input_message {
    height: 60px;
    background-color: #f3eeea
} */